*
	font-family: 'Museo Sans Cyrl', sans-serif
	box-sizing: border-box
	margin: 0
	padding: 0

@import "blocks/_promo"
@import "blocks/_container"	
@import "blocks/_header"
@import "blocks/_button"
@import "base/_variables"
@import "base/mixins"
@import "_media"